body{
    background-color: #449d44;
}

#contentWrap{
    width : 1200px;
    height: 300px;
    margin : auto;
}

#form{
    width : 900px;
    height: 300px;
    margin : auto;
    margin-top: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

#inputSearch{
     width: inherit;
     margin-top: 40px;
     margin-bottom: 20px;
     height: 30px;
     font-size: 30px;
     border-radius: 10px;
}

#bottomForm{
    display: inline-block;
    width : inherit
}

#innerForm{
    width: 600px;
    margin: auto;
}

#userPrivilege{
    width: 50%;
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
}

#submitButton{
    float: right;
    background-color: transparent;
    margin-right: 10%;
    padding-bottom: 15%;
    border: none;
    height: 80px;
    width: 80px;
    outline: none;  
    
}

#buttonSearch{
    height: 80px;
    width: 80px;
}

#buttonSearch:active{
    opacity: 0.5;
}

#advancedResearch{
    width: inherit;
    text-align: center;
    margin-top: 10px;
}

#buttonAdvancesResearch{
    width: 50%;
    text-align: center;
    margin: auto;
}

#parametersAdvancedResearch{
    margin-top: 10px;
    display: none;
    
}

.spaceBetween{
    margin-right: 30px;
}

#resultPanel{
    width : 900px;
    margin : auto;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    position: relative;
    text-align: center;
    padding-left: 70px;
}

.result{ 
    float: left;
    width: 200px;
    height: 290px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    text-align: center;
}

.result-image{
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: solid 1px black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.red{
    background-color: #D14841;
}

.blue{
    background-color: #54ACD2;
}

.green{
    background-color: #61BD6D;
}


.imgResult{
    height: 60px;
    width: 60px;
}

.cb {
    clear: both;
}

em{
    font-weight: bold;
    text-decoration: underline;
}

h3{
    font-size: 16px;
}