body{
    background-color: #449d44;
}

#contentWrap{
    width : 1200px;
    height: 300px;
    margin : auto;
}

#form{
    width : 700px;
    height: 300px;
    margin : auto;
    margin-top: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

#inputSearch{
     width: inherit;
     margin-top: 40px;
     margin-bottom: 20px;
     height: 30px;
     font-size: 30px;
     border-radius: 10px;
}

#bottomForm{
    display: inline-block;
    width : inherit
}

#innerForm{
    width: 600px;
    margin: auto;
}

#userPrivilege{
    width: 50%;
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
}

#submitButton{
    float: right;
    background-color: transparent;
    margin-right: 10%;
    padding-bottom: 15%;
    border: none;
    height: 80px;
    width: 80px;
    outline: none;  
    
}

#buttonSearch{
    height: 80px;
    width: 80px;
}

#buttonSearch:active{
    opacity: 0.5;
}

#advancedResearch{
    width: inherit;
    text-align: center;
    margin-top: 10px;
}

#buttonAdvancesResearch{
    width: 50%;
    text-align: center;
    margin: auto;
}

#parametersAdvancedResearch{
    margin-top: 10px;
    display: none;
    
}

.spaceBetween{
    margin-right: 30px;
}

